div {
  font-size: 3px;
}

.col {
  background-color: #EEE;
  margin-right: 5px;
  padding: 5px;
  float: left;
}

.row {
  margin-bottom: 5px;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

[boundary=true] {
  border-right: solid 1px;
  margin-right: 4px;
}

[end=true] {
  background-color: #feb3ff
}
